.banner-component {
  background-color: #e6f0ff;
  border-radius: 20px;
  overflow: hidden;
  .banner-image img {
    width: 100%;
    border-radius: 10px;
  }
  .banner-title {
    color: #003366;
    font-size: 2rem;
    font-weight: 700;
  }
  .banner-subtitle {
    font-size: 1.2rem;
    color: #333;
  }
}
