.bg-azul-iel-1 { background-color: #005ca9 !important; }
.bg-azul-iel-2 { background-color: #0a44ab !important; }
.bg-azul-iel-3 { background-color: #3a78f3 !important; }
.bg-roxo-iel   { background-color: #731ed9 !important; }
.bg-branco     { background-color: #ffffff !important; }
.bg-azul-escuro-1 { background-color: #003155 !important; }
.bg-azul-escuro-2 { background-color: #020d7d !important; }
.bg-azul-iel-4 { background-color: #016bb7 !important; }
.bg-azul-iel-5 { background-color: #0a16a0 !important; }

//color text
.text-azul-iel-1 { color: #005ca9 !important; }
.text-azul-iel-2 { color: #0a44ab !important; }
.text-azul-iel-3 { color: #3a78f3 !important; }
.text-roxo-iel   { color: #731ed9 !important; }
.text-branco     { color: #ffffff !important; }
.text-azul-escuro-1 { color: #003155 !important; }
.text-azul-escuro-2 { color: #020d7d !important; }
.text-azul-iel-4 { color: #016bb7 !important; }
.text-azul-iel-5 { color: #0a16a0 !important; }