// __footer.scss
.footer-institucional {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

footer {
    background: #1a202c;
}
